/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { EgainMcpCore } from "../core.js";
import { encodeFormQuery, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import {
  AiSearchRequest,
  AiSearchRequest$zodSchema,
  AiSearchResponseResponse,
  AiSearchResponseResponse$zodSchema,
} from "../models/aisearchop.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Hybrid Search
 *
 * @remarks
 * Hybrid Search
 *
 * ## How to Use This Tool
 *
 * **CRITICAL**: This tool requires a `request` parameter containing the request object. All parameters must be passed inside a `request` object.
 *
 * **Parameter Format**:
 * - Always wrap parameters in a `request` object: `{"request": {"portalID": "PZ-9999", "q": "loan information"}}`
 * - Required parameters:
 *   - `portalID` (string) - The portal ID (format: 2-4 letter prefix + dash + 4-15 digits, e.g., "PZ-9999")
 *   - `q` (string) - The search query string (must be URL-escaped)
 * - Optional parameters:
 *   - `Dollar_lang` (string, default: "en-US") - Language code
 *   - `dollarFilterUserProfileID` (string) - User profile ID filter
 *   - `dollarFilterTags` (object) - Object where keys are Category Tag IDs and values are arrays of Tag IDs
 *   - `dollarFilterTopicIds` (array) - Array of topic IDs to filter by
 *   - `articleCustomAdditionalAttributes` (string) - Comma-separated custom attribute names
 *   - `Dollar_pagenum` (number, default: 1) - Page number for pagination
 *   - `Dollar_pagesize` (number, default: 20) - Number of results per page
 *
 * **Example**: To search for "loan information" in portal "PZ-9999", call with:
 * ```json
 * {"request": {"portalID": "PZ-9999", "q": "loan information"}}
 * ```
 *
 * **Example with optional parameters**:
 * ```json
 * {"request": {"portalID": "PZ-9999", "q": "loan information", "Dollar_lang": "en-US", "Dollar_pagesize": 25}}
 * ```
 *
 * **Note**: This endpoint is only available for Self Service environments.
 *
 * ## Displaying Results (MCP-Specific)
 * **CRITICAL**: When this tool returns data successfully, you MUST display the search results to the user in your response. Do not silently process the data - always show the user what was returned.
 *
 * **What to display:**
 * - Display all search results with article names and IDs
 * - Show article `snippet` or `keywordSnippet` (the relevant text excerpt)
 * - Display `normalizedScore` or `relevanceScore` to indicate relevance
 * - Show `docType`, `source`, and `topicBreadcrumb` metadata
 * - Display `contextualSummary` if available
 * - Include `paginationInfo` if pagination is used
 * - Format results in a numbered list with clear relevance indicators
 *
 * **Example**: "I found 10 articles matching 'loan information': 1) [Article Name] (ID: PROD-123) - [snippet] (Relevance: 0.89)..."
 *
 * ## Overview
 * The Search API is a hybrid search service that combines semantic understanding with keyword precision to deliver fast, contextual, and relevant results from your enterprise knowledge base. It enables secure, role-aware access to articles, FAQs, and documentation across customer, agent, and employee interfaces. Each query returns a ranked list of results with snippets, metadata, and relevance scores.
 */
export function aiSearch(
  client$: EgainMcpCore,
  request: AiSearchRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    AiSearchResponseResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: EgainMcpCore,
  request: AiSearchRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      AiSearchResponseResponse,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => AiSearchRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;

  const pathParams$ = {
    portalID: encodeSimple("portalID", payload$.portalID, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/{portalID}/search")(
    pathParams$,
  );
  const query$ = encodeFormQuery({
    "$filter[tags]": payload$.dollarFilterTags,
    "$filter[topicIds]": payload$.dollarFilterTopicIds,
    "$filter[userProfileID]": payload$.dollarFilterUserProfileID,
    "$lang": payload$.Dollar_lang,
    "$pagenum": payload$.Dollar_pagenum,
    "$pagesize": payload$.Dollar_pagesize,
    "articleCustomAdditionalAttributes":
      payload$.articleCustomAdditionalAttributes,
    "q": payload$.q,
  });

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "aiSearch",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  const response = doResult.value;
  const responseFields$ = {
    HttpMeta: { Response: response, Request: req$ },
  };

  const [result$] = await M.match<
    AiSearchResponseResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.json(200, AiSearchResponseResponse$zodSchema, {
      key: "AISearchResponse",
    }),
    M.nil(204, AiSearchResponseResponse$zodSchema),
    M.json([400, 401, 403, 404, 406], AiSearchResponseResponse$zodSchema, {
      key: "WSErrorCommon",
    }),
    M.json(500, AiSearchResponseResponse$zodSchema, { key: "WSErrorCommon" }),
  )(response, req$, { extraFields: responseFields$ });

  return [result$, { status: "complete", request: req$, response }];
}
