/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { EgainMcpCore } from "../core.js";
import { encodeFormQuery, encodeSimple, queryJoin } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  GetArticleByIdRequest,
  GetArticleByIdRequest$zodSchema,
  GetArticleByIdResponse,
  GetArticleByIdResponse$zodSchema,
} from "../models/getarticlebyidop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get Article by ID
 *
 * @remarks
 * Get Article by ID
 *
 * ## How to Use This Tool
 *
 * **CRITICAL**: This tool requires a `request` parameter containing the request object. All parameters must be passed inside a `request` object.
 *
 * **Parameter Format**:
 * - Always wrap parameters in a `request` object: `{"request": {"portalID": "PZ-9999", "articleID": "PROD-2996"}}`
 * - Required parameters:
 *   - `portalID` (string) - The portal ID (format: 2-4 letter prefix + dash + 4-15 digits, e.g., "PZ-9999")
 *   - `articleID` (string) - The article ID (format: 2-4 letter prefix + dash + 4-15 digits, e.g., "PROD-2996")
 * - Optional parameters:
 *   - `Dollar_lang` (string, default: "en-US") - Language code
 *   - `acceptLanguage` (string, default: "en-US") - Accept-Language header value
 *   - `articleAdditionalAttributes` (array) - Additional article attributes to return
 *   - `Dollar_customAdditionalAttributes` (string) - Custom additional attributes
 *   - `accessSource` (string, default: "article_view") - How the article was accessed
 *   - `publishViewId` (string) - Publish view ID
 *   - `workflowMilestone` (string) - Workflow milestone filter
 *
 * **Example**: To get article "PROD-2996" from portal "PZ-9999", call with:
 * ```json
 * {"request": {"portalID": "PZ-9999", "articleID": "PROD-2996"}}
 * ```
 *
 * **Example with optional parameters**:
 * ```json
 * {"request": {"portalID": "PZ-9999", "articleID": "PROD-2996", "Dollar_lang": "en-US", "accessSource": "article_view"}}
 * ```
 *
 * ## Displaying Results (MCP-Specific)
 * **CRITICAL**: When this tool returns data successfully, you MUST display the article content to the user in your response. Do not silently process the data - always show the user what was returned.
 *
 * **What to display:**
 * - Display the article `name` as the title
 * - Show the article `content` or `contentText` (the full article body)
 * - Display article metadata: `id`, `articleType`, `createdDate`, `modifiedDate`
 * - Show `attachments` if present
 * - Display `topicBreadcrumb` to show where the article is categorized
 * - Include any other relevant metadata like `articleSummary`, `description`, `articleKeywords`
 * - Format the article content in a readable way for the user
 *
 * **Example**: "Here's the article '[Article Name]' (ID: PROD-2996): [article content]. This article is categorized under: [topic breadcrumb]..."
 *
 * ## Prerequisites
 * - Requires a valid portal ID. If you don't have the portal ID, first call 'get-portals' to get available portals.
 * - Portal ID format: 2-4 letter prefix + dash + 4-15 digits (e.g., "EB-123456789")
 * - Requires a valid article ID. Article ID format: 2-4 letter prefix + dash + 4-15 digits (e.g., "PROD-2996")
 *
 * ## Overview
 * The Get Article by ID API allows a user to retrieve a specific article using its ID. Additional article attributes and contextual views can be specified in the query parameters.
 *
 * This API returns structured authoring attributes of Issue, Environment, Cause and Confidence Level when the following conditions are met:
 * - The "Allow Structured Authoring" setting is enabled at the partition/department level
 * - The "Use Structured Authoring" flag is set on the article type
 */
export function getArticle(
  client$: EgainMcpCore,
  request: GetArticleByIdRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    GetArticleByIdResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: EgainMcpCore,
  request: GetArticleByIdRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      GetArticleByIdResponse,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => GetArticleByIdRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;

  const pathParams$ = {
    articleID: encodeSimple("articleID", payload$.articleID, {
      explode: false,
      charEncoding: "percent",
    }),
    portalID: encodeSimple("portalID", payload$.portalID, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/portals/{portalID}/articles/{articleID}")(
    pathParams$,
  );
  const query$ = queryJoin(
    encodeFormQuery({
      "articleAdditionalAttributes": payload$.articleAdditionalAttributes,
    }, { explode: false }),
    encodeFormQuery({
      "$customAdditionalAttributes": payload$.Dollar_customAdditionalAttributes,
      "$lang": payload$.Dollar_lang,
      "accessSource": payload$.accessSource,
      "publishViewId": payload$.publishViewId,
      "workflowMilestone": payload$.workflowMilestone,
    }),
  );

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
    "Accept-Language": encodeSimple(
      "Accept-Language",
      payload$.acceptLanguage,
      { explode: false, charEncoding: "none" },
    ),
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "getArticleById",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  const response = doResult.value;
  const responseFields$ = {
    HttpMeta: { Response: response, Request: req$ },
  };

  const [result$] = await M.match<
    GetArticleByIdResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.json(200, GetArticleByIdResponse$zodSchema, { key: "Article" }),
    M.nil(204, GetArticleByIdResponse$zodSchema),
    M.json([400, 401, 403, 404, 406], GetArticleByIdResponse$zodSchema, {
      key: "WSErrorCommon",
    }),
    M.json(500, GetArticleByIdResponse$zodSchema, { key: "WSErrorCommon" }),
  )(response, req$, { extraFields: responseFields$ });

  return [result$, { status: "complete", request: req$, response }];
}
