/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { EgainMcpCore } from "../core.js";
import { encodeFormQuery, encodeSimple, queryJoin } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  GetAnnouncementArticlesRequest,
  GetAnnouncementArticlesRequest$zodSchema,
  GetAnnouncementArticlesResponse,
  GetAnnouncementArticlesResponse$zodSchema,
} from "../models/getannouncementarticlesop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get Announcement Articles
 *
 * @remarks
 * Get Announcements
 *
 * ## Prerequisites
 * - Requires a valid portal ID. If you don't have the portal ID, first call 'get-portals' to get available portals.
 * - Portal ID format: 2-4 letter prefix + dash + 4-15 digits (e.g., "EB-123456789")
 *
 * ## Overview
 * The Get Announcements API allows a user to retrieve all announcement articles for a specific portal. Announcements are special articles that are prominently displayed to users and typically contain important updates, news, or notifications.
 *
 * This API returns announcement articles with their full content, metadata, and any associated attachments or links.
 */
export function getAnnouncements(
  client$: EgainMcpCore,
  request: GetAnnouncementArticlesRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    GetAnnouncementArticlesResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: EgainMcpCore,
  request: GetAnnouncementArticlesRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      GetAnnouncementArticlesResponse,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => GetAnnouncementArticlesRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;

  const pathParams$ = {
    portalID: encodeSimple("portalID", payload$.portalID, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/portals/{portalID}/articles/announcements")(
    pathParams$,
  );
  const query$ = queryJoin(
    encodeFormQuery({
      "articleResultAdditionalAttributes":
        payload$.articleResultAdditionalAttributes,
    }, { explode: false }),
    encodeFormQuery({
      "$filter[tags]": payload$.dollarFilterTags,
      "$lang": payload$.Dollar_lang,
      "$pagenum": payload$.Dollar_pagenum,
      "$pagesize": payload$.Dollar_pagesize,
      "workflowMilestone": payload$.workflowMilestone,
    }),
  );

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
    "Accept-Language": encodeSimple(
      "Accept-Language",
      payload$.acceptLanguage,
      { explode: false, charEncoding: "none" },
    ),
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "getAnnouncementArticles",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  const response = doResult.value;
  const responseFields$ = {
    HttpMeta: { Response: response, Request: req$ },
  };

  const [result$] = await M.match<
    GetAnnouncementArticlesResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.json(200, GetAnnouncementArticlesResponse$zodSchema, {
      key: "ArticleResults",
    }),
    M.nil(204, GetAnnouncementArticlesResponse$zodSchema),
    M.json(
      [400, 401, 403, 404, 406],
      GetAnnouncementArticlesResponse$zodSchema,
      { key: "WSErrorCommon" },
    ),
    M.json(500, GetAnnouncementArticlesResponse$zodSchema, {
      key: "WSErrorCommon",
    }),
  )(response, req$, { extraFields: responseFields$ });

  return [result$, { status: "complete", request: req$, response }];
}
