/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 */

import { EgainMcpCore } from "../core.js";
import { encodeFormQuery, encodeSimple, queryJoin } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  GetpopulararticlesRequest,
  GetpopulararticlesRequest$zodSchema,
  GetpopulararticlesResponse,
  GetpopulararticlesResponse$zodSchema,
} from "../models/getpopulararticlesop.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Get Popular Articles
 *
 * @remarks
 * Get Popular Articles
 *
 * ## How to Use This Tool
 *
 * **CRITICAL**: This tool requires a `request` parameter containing the request object. All parameters must be passed inside a `request` object.
 *
 * **Parameter Format**:
 * - Always wrap parameters in a `request` object: `{"request": {"portalID": "PZ-9999"}}`
 * - Required parameter:
 *   - `portalID` (string) - The portal ID (format: 2-4 letter prefix + dash + 4-15 digits, e.g., "PZ-9999")
 *   - `acceptLanguage` (string, default: "en-US") - Accept-Language header value
 * - Optional parameters:
 *   - `Dollar_lang` (string, default: "en-US") - Language code
 *   - `Dollar_pagenum` (number, default: 1) - Page number for pagination
 *   - `Dollar_pagesize` (number, default: 10) - Number of results per page
 *   - `dollarFilterTopicId` (string) - Filter by topic ID
 *   - `dollarFilterTags` (string) - Comma-separated list of Tag/Tag Group IDs
 *
 * **Example**: To get popular articles from portal "PZ-9999", call with:
 * ```json
 * {"request": {"portalID": "PZ-9999"}}
 * ```
 *
 * **Example with optional parameters**:
 * ```json
 * {"request": {"portalID": "PZ-9999", "Dollar_lang": "en-US", "Dollar_pagesize": 20}}
 * ```
 *
 * ## Displaying Results (MCP-Specific)
 * **CRITICAL**: When this tool returns data successfully, you MUST display the popular articles to the user in your response. Do not silently process the data - always show the user what was returned.
 *
 * **What to display:**
 * - Display all popular articles with their names and IDs
 * - Show article summaries or descriptions when available
 * - Display metadata such as `articleType`, `createdDate`, `modifiedDate`
 * - Show `imageURL` if available (mention thumbnail availability)
 * - Include `paginationInfo` if pagination is used
 * - Format articles in a numbered or bulleted list
 *
 * **Example**: "Here are the most popular articles: 1) [Article Name] (ID: PROD-123) - [summary]..."
 *
 * ## Prerequisites
 * - Requires a valid portal ID. If you don't have the portal ID, first call 'get-portals' to get available portals.
 * - Portal ID format: 2-4 letter prefix + dash + 4-15 digits (e.g., "EB-123456789")
 *
 * ## Overview
 * The Popular Articles API allows a user to retrieve the most popular articles from a specific portal. Popular articles are typically determined by user engagement metrics such as views, ratings, or usage frequency.
 *
 * This API returns a list of popular articles with their metadata, allowing users to discover the most relevant and frequently accessed content within the portal.
 */
export function getPopularArticles(
  client$: EgainMcpCore,
  request: GetpopulararticlesRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    GetpopulararticlesResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: EgainMcpCore,
  request: GetpopulararticlesRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      GetpopulararticlesResponse,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => GetpopulararticlesRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = null;

  const pathParams$ = {
    portalID: encodeSimple("portalID", payload$.portalID, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/portals/{portalID}/populararticles")(
    pathParams$,
  );
  const query$ = queryJoin(
    encodeFormQuery({
      "articleResultAdditionalAttributes":
        payload$.articleResultAdditionalAttributes,
    }, { explode: false }),
    encodeFormQuery({
      "$filter[tags]": payload$.dollarFilterTags,
      "$filter[topicId]": payload$.dollarFilterTopicId,
      "$lang": payload$.Dollar_lang,
      "$pagenum": payload$.Dollar_pagenum,
      "$pagesize": payload$.Dollar_pagesize,
    }),
  );

  const headers$ = new Headers(compactMap({
    Accept: "application/json",
    "Accept-Language": encodeSimple(
      "Accept-Language",
      payload$.acceptLanguage,
      { explode: false, charEncoding: "none" },
    ),
    "x-egain-activity-id": encodeSimple(
      "x-egain-activity-id",
      payload$.xEgainActivityId,
      { explode: false, charEncoding: "none" },
    ),
    "x-ext-integration-id": encodeSimple(
      "x-ext-integration-id",
      payload$.xExtIntegrationId,
      { explode: false, charEncoding: "none" },
    ),
    "x-ext-interaction-id": encodeSimple(
      "x-ext-interaction-id",
      payload$.xExtInteractionId,
      { explode: false, charEncoding: "none" },
    ),
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "getpopulararticles",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "GET",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  const response = doResult.value;
  const responseFields$ = {
    HttpMeta: { Response: response, Request: req$ },
  };

  const [result$] = await M.match<
    GetpopulararticlesResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
  >(
    M.json(200, GetpopulararticlesResponse$zodSchema, {
      key: "ArticleResults",
    }),
    M.nil(204, GetpopulararticlesResponse$zodSchema),
    M.json([400, 401, 403, 404, 406], GetpopulararticlesResponse$zodSchema, {
      key: "WSErrorCommon",
    }),
    M.json(500, GetpopulararticlesResponse$zodSchema, { key: "WSErrorCommon" }),
  )(response, req$, { extraFields: responseFields$ });

  return [result$, { status: "complete", request: req$, response }];
}
