/*
 * Code generated by Speakeasy (https://speakeasy.com). DO NOT EDIT.
 * @generated-id: 55f4f62bfdba
 */

import { EgainMcpCore } from "../core.js";
import { encodeFormQuery, encodeJSON, encodeSimple } from "../lib/encodings.js";
import * as M from "../lib/matchers.js";
import { compactMap } from "../lib/primitives.js";
import { safeParse } from "../lib/schemas.js";
import { RequestOptions } from "../lib/sdks.js";
import { extractSecurity, resolveGlobalSecurity } from "../lib/security.js";
import { pathToFunc } from "../lib/url.js";
import { APIError } from "../models/errors/apierror.js";
import {
  ConnectionError,
  InvalidRequestError,
  RequestAbortedError,
  RequestTimeoutError,
  UnexpectedClientError,
} from "../models/errors/httpclienterrors.js";
import { SDKValidationError } from "../models/errors/sdkvalidationerror.js";
import {
  RetrieveChunksRequest,
  RetrieveChunksRequest$zodSchema,
} from "../models/retrievechunksop.js";
import {
  RetrieveResponse,
  RetrieveResponse$zodSchema,
} from "../models/retrieveresponse.js";
import { WSErrorCommon, WSErrorCommon$zodSchema } from "../models/wserrorcommon.js";
import { APICall, APIPromise } from "../types/async.js";
import { Result } from "../types/fp.js";

/**
 * Retrieve Chunks
 *
 * @remarks
 * Retrieve Chunks
 * ## Overview
 * The Retrieve API enables enterprises to directly access relevant content chunks from their organizational knowledge sources. It is designed for scenarios where developers want granular control over retrieved information, such as powering custom search, analytics, or retrieval-augmented generation (RAG) pipelines.
 * In addition to raw chunk retrieval, the API can return **Certified Answers** if it meets the 'Certified Answer' threshold score. Responses include relevance scores, metadata, and references to maintain transparency and flexibility.
 * By leveraging the Retrieve API, organizations can build tailored experiences while retaining confidence in the source material.
 *
 * ## Prerequisites
 * - Requires a valid portal ID. If you don't have the portal ID, first call 'get-portals' to get available portals.
 * - Portal ID format: 2-4 letter prefix + dash + 4-15 digits (e.g., "PROD-1004")
 *
 * ## How to Use This Tool
 * All inputs must be wrapped inside a request object. Provide a search query and language. Optional filters can be used to narrow results by tags, topics, or user profile.
 *
 * **Parameter Format**:
 * - Always wrap parameters in a `request` object: `{"request": {"portalID": "PZ-9999", "q": "loan information", "Dollar_lang": "en-US"}}`
 * - Required parameters:
 *   - `portalID` (string) - The portal ID (format: 2-4 letter prefix + dash + 4-15 digits, e.g., "PZ-9999")
 *     - Never ask the user to provide the portal ID if it can be discovered via getMyPortals.
 *     - If portal context is missing or unclear, call getMyPortals and select the best match based on user's query.
 *   - `q` (string) - The search query string
 *   - `Dollar_lang` (string) - Language code (e.g., "en-US")
 * - Optional parameters:
 *   - `dollarFilterUserProfileID` (string) - User profile ID filter
 *   - `dollarFilterTags` (object) - Object where keys are Category Tag IDs and values are arrays of Tag IDs
 *   - `dollarFilterTopicIds` (array) - Array of topic IDs to filter by
 *   - `RetrieveRequest` (object) - Additional request body parameters:
 *     - `channel` (object) - Channel information (optional, recommended to omit)
 *     - `eventId` (string) - Event ID
 *     - `sessionId` (string) - Session ID
 *
 * **Example**: To retrieve chunks for query "loan information" from portal "PZ-9999", call with:
 * ```json
 * {"request": {"portalID": "PZ-9999", "q": "loan information", "Dollar_lang": "en-US"}}
 * ```
 *
 * **Example with RetrieveRequest body**:
 * ```json
 * {"request": {"portalID": "PZ-9999", "q": "loan information", "Dollar_lang": "en-US", "RetrieveRequest": {"eventId": "event-123", "sessionId": "session-456"}}}
 * ```
 *
 * ## Displaying Results (MCP-Specific)
 * **CRITICAL**: When this tool returns data successfully, you MUST display the results to the user in your response. Do not silently process the data - always show the user what was returned.
 *
 * **What to display:**
 * Always display results. Show each article name, article ID, snippet, and relevance score. If a certified answer is returned, display it first and list its references.
 *
 * **Example**: "I found 5 relevant articles about loan information: 1) [Article Name] (ID: PROD-123) - [snippet]..."
 */
export function retrieveChunks(
  client$: EgainMcpCore,
  request: RetrieveChunksRequest,
  options?: RequestOptions,
): APIPromise<
  Result<
    RetrieveResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
    | WSErrorCommon
  >
> {
  return new APIPromise($do(
    client$,
    request,
    options,
  ));
}

async function $do(
  client$: EgainMcpCore,
  request: RetrieveChunksRequest,
  options?: RequestOptions,
): Promise<
  [
    Result<
      RetrieveResponse,
      | APIError
      | SDKValidationError
      | UnexpectedClientError
      | InvalidRequestError
      | RequestAbortedError
      | RequestTimeoutError
      | ConnectionError
      | WSErrorCommon
    >,
    APICall,
  ]
> {
  const parsed$ = safeParse(
    request,
    (value$) => RetrieveChunksRequest$zodSchema.parse(value$),
    "Input validation failed",
  );
  if (!parsed$.ok) {
    return [parsed$, { status: "invalid" }];
  }
  const payload$ = parsed$.value;
  const body$ = encodeJSON("body", payload$.RetrieveRequest, { explode: true });

  const pathParams$ = {
    portalID: encodeSimple("portalID", payload$.portalID, {
      explode: false,
      charEncoding: "percent",
    }),
  };
  const path$ = pathToFunc("/{portalID}/retrieve")(
    pathParams$,
  );
  const query$ = encodeFormQuery({
    "$filter[tags]": payload$.dollarFilterTags,
    "$filter[topicIds]": payload$.dollarFilterTopicIds,
    "$filter[userProfileID]": payload$.dollarFilterUserProfileID,
    "$lang": payload$.Dollar_lang,
    "q": payload$.q,
  });

  const headers$ = new Headers(compactMap({
    "Content-Type": "application/json",
    Accept: "application/json",
  }));
  const securityInput = await extractSecurity(client$._options.security);
  const requestSecurity = resolveGlobalSecurity(securityInput);

  const context = {
    options: client$._options,
    baseURL: options?.serverURL ?? client$._baseURL ?? "",
    operationID: "retrieveChunks",
    oAuth2Scopes: null,
    resolvedSecurity: requestSecurity,
    securitySource: client$._options.security,
    retryConfig: options?.retries
      || client$._options.retryConfig
      || { strategy: "none" },
    retryCodes: options?.retryCodes || [
      "429",
      "500",
      "502",
      "503",
      "504",
    ],
  };

  const requestRes = client$._createRequest(context, {
    security: requestSecurity,
    method: "POST",
    baseURL: options?.serverURL,
    path: path$,
    headers: headers$,
    query: query$,
    body: body$,
    userAgent: client$._options.userAgent,
    timeoutMs: options?.timeoutMs || client$._options.timeoutMs
      || -1,
  }, options);
  if (!requestRes.ok) {
    return [requestRes, { status: "invalid" }];
  }
  const req$ = requestRes.value;

  const doResult = await client$._do(req$, {
    context,
    errorCodes: [],
    retryConfig: context.retryConfig,
    retryCodes: context.retryCodes,
  });
  if (!doResult.ok) {
    return [doResult, { status: "request-error", request: req$ }];
  }
  const response = doResult.value;
  const responseFields$ = {
    HttpMeta: { Response: response, Request: req$ },
  };

  const [result$] = await M.match<
    RetrieveResponse,
    | APIError
    | SDKValidationError
    | UnexpectedClientError
    | InvalidRequestError
    | RequestAbortedError
    | RequestTimeoutError
    | ConnectionError
    | WSErrorCommon
  >(
    M.json(200, RetrieveResponse$zodSchema, { key: "RetrieveResponse" }),
    M.jsonErr([400, 500], WSErrorCommon$zodSchema),
  )(response, req$, { extraFields: responseFields$ });

  return [result$, { status: "complete", request: req$, response }];
}
